
.app {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: papayawhip;
}

.list-item {
    padding: 10px;
}

.list-item[data-active="true"] {
    background-color: lightgoldenrodyellow;
}

.calendar {
    width: 100%;
    height: 100%;
}

.calendar td {
    padding: 10px;
    border: solid 1px black;
}

.calendar td[data-color="1"] {
    background-color: lightseagreen;
}
.calendar td[data-color="2"] {
    background-color: lightgreen;
}
.calendar td[data-color="3"] {
    background-color: lightpink;
}
.calendar td[data-color="4"] {
    background-color: lightslategrey;
}
.calendar td[data-color="5"] {
    background-color: lightsalmon;
}
.calendar td[data-color="6"] {
    background-color: lightgoldenrodyellow;
}

.table-wrap {
    flex: 1;
}
